$SIDE_BAR_FONT_FAMILTY: "Quicksand", sans-serif;
$MAIN_FONT_FAMILTY: "Rubik", sans-serif;
$BORDER_RADIUS: 10px;
$BORDER_COLOR: #ddd;
$MAIN_BG_COLOR: #f4f4f4;
$WHITE_COLOR: #fff;
$PRIMARY_COLOR: #0b6fd3;
$PRIMARY_TEXT_COLOR: #5b9fe2;
$SUCCESS_TEXT_COLOR: #5ccc7a;
$BTN_HOVER_COLOR: #08529c;
$SIDEBAR_COLOR: #268df4;
